:root{
    --background-color: #fff;
    --primary-color: #aaa;
    --secondary-color: #333;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}
body{
    min-height: 100vh;
}
p{
    font-weight: 900;
}

/*Sidebar*/
.sidebar {
    height: calc(100% - 30px);
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
    border: solid var(--primary-color);
}
.sidebar:hover{
    border: solid var(--secondary-color);
}
.sidebar a{
    width: calc(100% - 50px);
    font-size: x-large;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    border: solid var(--primary-color);
    background-color: var(--primary-color);
}
.sidebar a:hover{
    border: solid var(--secondary-color);
}
#mySidebar {
    width: 400px;
    transition: opacity 0.75s, width 1s;
}
#main{
    margin-right: 400px;
    width: 100vw;
    align-items: center;
}
.openbtn {
    font-size: 40px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: #00000000;
    padding: 10px 15px;
    border: none;
    right: 10px;
}
#btnContainer{
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity 0.75s;
}

/*Menu*/
.content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
}

/* When content is visible */
.content.show {
    opacity: 1;
    max-height: 500px; /* Adjust this based on your content size */
}
/*Play*/
a.play{
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Settings*/
#settingsContent{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: lowercase;
    font-size: medium;
    padding: 0px;
}
.theme-label, .board-label {
    padding: 10px 20px;
    
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    border: solid var(--background-color);
}
.selected {
    border: 2px solid black; /* No border by default */
    border-radius: 8px;
    color: black;
}
.theme-label.selected{
    background-color: var(--primary-color); /* Light background color to show selection */
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}
.board-label.selected{
    background-color: var(--tile-color-1); /* Light background color to show selection */
    border-color: var(--tile-color-2);
}
input{
    display: none;
}

/*leaderboard*/
::-webkit-scrollbar {
    display: none;
}

#leaderboardContent{
    overflow: scroll;
    width: calc(100% - 30px);
}

/*my games*/
::-webkit-scrollbar {
    display: none;
}

#myGamesContent{
    overflow: scroll;
    width: calc(100% - 30px);
}

table {
    border-collapse: collapse;
    min-width: 100%;
}
  
td, th {
    border: 2px solid var(--primary-color);
    padding: 8px;
}
  
tr:nth-child(even){background-color: #80808040;}

/* Optional: styling for individual game data */
.game-data p {
    margin: 0; /* Remove default margin for p elements */
    padding: 0 10px; /* Optional: horizontal padding for spacing */
}

/* Media query for smaller screens */
@media (max-width: 1000px) {
    .sidebar {
        justify-content: center;
        align-items: center;
        min-height: 100%;
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }
    .sidebar a{
        width: 50vw;
    }
    .game-Row{
        width: 50vw;
        font-size: 15px;
    }

    /* Optional: Ensure the main content adjusts accordingly */
    #main {
        margin-right: 0;
    }
}
@media (max-width: 500px){
    #btnContainer{
        right: -35px;
        top: 30px;
    }
    .sidebar a{
        width: 75vw;
    }
    .game-Row{
        width: 75vw;
    }
}

div#loggedInContent{
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

div#loggedOutContent{
    flex-direction: column;
    display: flex;
}
